*~
*.DS_Store
*.class
*java#
*.classpath
*.project
*.settings
facebook/local.properties
facebook/bin/
facebook/out/
facebook/gen/
examples/Hackbook/bin/
examples/Hackbook/out/
examples/Hackbook/gen/
examples/Hackbook/local.properties
examples/stream/bin/
examples/stream/out/
examples/simple/bin/
examples/simple/out/
examples/stream/gen/
examples/simple/gen/
tests/bin
tests/out/
tests/gen
